$theme: superhero
@import "bower_components/bootswatch/superhero/variables"

$web-font-path: ''
$icon-font-path: "../../fonts/bootstrap/"
$font-family-sans-serif: "Helvetica Neue", "Microsoft YaHei", Helvetica, Arial, sans-serif
$font-family-base: $font-family-sans-serif


$footer-bg: #333
